#canvas{

/*height="440" width="660"*/
height: 40%;
width: 60%;
margin:auto;
}

#canvasWrapper{
    display: flex;
    margin: 4% auto 4% auto;
}

#buttonsForCanvas{
    margin-top: 1%;
}

#startDemo{
    margin: 4% auto 4% auto;
    display:flex;
    font-size:x-large;
}

#weightDisplay{
    width: 25%;
    margin: 0 10% 0 10%;
}

#squareOneColor{
    margin:auto 0 auto 0;
}

.transitionCalculatorContent{
    margin: auto;
    width: 50%;
    border: 2px solid #816797;
    padding: 1%;
    border-radius: 15%;
    text-align: center;
}


/*
---------------------------------------------------------styles for dropdown menu
*/



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

